* {
  background-color: bisque;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}

.nav {
  list-style: none;
  text-align: right;
  padding-inline-start: 0rem;
}

.nav .nav-item {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
}

.nav .nav-item:hover {
  transition: 0.5s;
  color: red;
}

header {
  font-size: 0.8rem;
  background-color: deepskyblue;
  padding: 0.5rem;
}

main {
  background-color: limegreen;
  padding: 0.5rem;
}

footer {
  background-color: orange;
  padding: 0.5rem;
}

/* Headings */
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

span {

}

img {

}

/*
TODO: Style HomePage
- Font size
- Color
- Background
- Line-height
- Letter-spacing
- Grid
- Flex
- Display
- Border
- Border-radius
*/